{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{%block title %} Success {% endblock %}
{% block content %}
<form action="{{ url_for('finish_trip') }}">
<input type="submit" value="Complete Trip">
</form>
<h1>Events</h1>
<table class = "table-hover" border = "1px solid black">
<tr>
<th>Event Name</th>
<th>Location</th>
<th>Date</th>
<th>Time</th>
</tr>
{% for event in event_order %}
{% for k, v in event_dict.items() %}
{% if k == event %}
<tr>
        <td>{{ v['Display Name'] }}</td>
        <td>{{ v['location'] }}</td>
	<td>{{ v['date'] }}</td>
        <td>{{ v['time'] }}</td>
</tr>
{% endif %}
{% endfor %}
{% endfor %}
</table>

<h2>Directions</h2>
<ul>

{% for step in travel_step %}
{% for a, b in travel_dict.items() %}
{% if a == step %}

<li> {{ a }}:</li>
	<ul>
	<li> {{ b['directions'] }} </li>
	<li> {{ b['Time'] }} </li>
	<li> {{ b['Distance'] }} </li>
	</ul>

{% endif %}
{% endfor %}
{% endfor %}





{% endblock %}

